.date__picker {
    max-width: 85vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border-bottom: 2px solid #fcdccc;
    display: flex;
    justify-content: center;
}