/* MAIN */
.main__content {
    max-width: 85vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    overflow-y: auto;
    border-bottom: 2px solid #fcdccc
}

.main__content::-webkit-scrollbar {
    width: 1px;
}

.main__content::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addNew__button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 35px 35px 0px;
}

.addNew__button button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(235, 229, 229);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.modal-body__label {
    color: #6d7fff;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
}
.rs-picker-popup {
    z-index: 10000 !important;
}